* {
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  margin-bottom: 15px;
  border: thin solid black;
  height: 40px;
  width: 250px;
  font-size: 20px;
}
#button {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}
.paintingImg {
  object-fit: cover;
  border: 2px solid red;
  border-radius: 10px;
  width: 20rem;
  height: 30rem;
  margin-right: 1em;
}

.paintingAuthor {
  color: blue;
  font-weight: bold;
  width: 20rem;
}

.paintingName {
  font-weight: bolder;
  color: green;
  width: 20rem;
}
.paintingYear {
  font-weight: bolder;
  color: orange;
  width: 20rem;
}
